@model GerenciamentoEventosHoteis.Models.Auditoria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auditoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntidadeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntidadeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DadosAnteriores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DadosAnteriores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DadosNovos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DadosNovos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
